* {
  margin: 0px;
  padding: 0px;
  /*box-sizing: border-box;*/
}

/*Utilizacion de propiedades de SASS*/
h6 {
  color: #317bea;
}

h2 {
  color: white;
}

h3 {
  color: darkgoldenrod;
}

/*Joaco, aca te dejo el DESAFIO COMPLEMENTARIO DE LA CLASE 12*/
/*Utilizacion de propiedades de SASS*/
/*Joaco/Leo, dejo los comentarios de las metodologias BEM, porque me queda mas comodo para buscarlas*/
/*INDEX*/
.colorIndex {
  background-color: #778899a3;
}

#imagLogo {
  width: 90px;
  height: 90px;
  display: block;
}

header {
  background-color: lightyellow !important;
  border-bottom: 5px double;
  border-top: 10px solid burlywood;
}

.escalarSeccion {
  font-family: 'Architects Daughter', cursive;
  font-weight: 600;
}

.escalarSeccion:hover {
  transform: scale(1, 1.3);
}

.detalles li {
  margin: 2px;
  border-radius: 20px;
}

svg {
  width: 0;
  height: 0;
}

.divisorOfertas {
  color: white;
  background-color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: auto;
  text-align: center;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 15px;
}

.divisorRecetas {
  color: white;
  background-color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: auto;
  text-align: center;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.divisorUbicacion {
  color: white;
  background-color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: auto;
  text-align: center;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.iframeMapa {
  border-radius: 20px;
  height: 420px;
  width: 525px;
  margin-right: 20px;
}

.letraFooter {
  font-family: 'Zen Tokyo Zoo', cursive;
}

.creacion {
  background-color: rgba(0, 0, 0, 0.2);
}

footer section {
  background-color: wheat;
}

.logoFooter {
  width: 200px;
  height: 200px;
  margin-left: 80px;
}

.logo
.seccionCarrousel {
  border-radius: 20px;
}

.seccionCarrousel__letras {
  color: black !important;
  font-weight: bolder;
}

.seccionCarrousel--decoracion {
  text-decoration: underline;
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-weight: 600;
  background-color: dodgerblue;
  width: 30%;
  box-shadow: 0 0 5px 2px #000000;
  border-radius: 20px;
}

.letrasp {
  color: white;
  text-shadow: 5px 3px black;
}

/*Aqui use metodologia BEM 2*/
.titulo {
  background-color: wheat;
  font-family: 'Zen Tokyo Zoo', cursive;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.animacionTitulo {
  margin: auto;
  display: table;
}

.animacionTitulo h1 {
  float: left;
  color: #317bea;
  position: relative;
  background-color: wheat;
  text-align: center;
}

.animacionTitulo h1 span {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: wheat;
  border-left: 1px solid black;
  animation: maquina 4s infinite alternate steps(13);
}

.animacionTitulo h2 {
  font-size: 20px;
}

@keyframes maquina {
  from {
    width: 65%;
  }
  to {
    width: 30%;
  }
}

.animacionTitulo h6 {
  color: white;
}

.titulo__alineado {
  text-align: center;
  color: black !important;
}

.titulo--alto {
  padding-top: 20px;
  margin-top: 10px;
}

.titulo--colorFondo {
  background-color: lightcyan;
  opacity: 0.8;
  border-radius: 20px;
}

.rotarRedes:hover {
  transform: rotate(60deg);
}

.rotarRedes {
  width: 60px;
  height: 60px;
}

.escalarRedes:hover {
  transform: scale(1.3);
  background-color: darksalmon;
}

.escalarOfertas:hover {
  transform: scale(1.1);
}

.escalarRecetas:hover {
  transform: scale(1.1);
}

.iconoFacebook {
  border-radius: 100%;
  background-color: #3b5998;
}

.iconoTwitter {
  border-radius: 100%;
  background-color: #55acee;
}

.iconoGoogle {
  border-radius: 100%;
  background-color: #dd4b39;
}

.iconoInstagram {
  border-radius: 100%;
  background-color: #ac2bac;
}

.iconoLinkedin {
  border-radius: 100%;
  background-color: #0082ca;
}

.iconoGithub {
  border-radius: 100%;
  background-color: #333333;
}

.ubicacionFooter {
  margin-bottom: -70px;
}

/*Aqui use metodologia BEM 3*/
.altoCarousel {
  height: 60vw;
}

.ofertas {
  grid-template-columns: 33% 34% 33%;
  grid-template-areas: "parrilla asadorMovil cuchillo";
  width: auto;
  justify-items: center;
  align-items: center;
  height: 450px;
}

.ofertas__caja1 {
  grid-area: parrilla;
  bottom: 70px;
  width: 70%;
  height: 15rem;
}

.ofertas__caja2 {
  grid-area: asadorMovil;
  bottom: 70px;
  width: 70%;
  height: 15rem;
}

.ofertas__caja3 {
  grid-area: cuchillo;
  width: 70%;
  height: 23.8rem;
}

.ofertas--color {
  background-color: lightskyblue;
}

.ofertas--colorFondo {
  background-color: lightcyan;
  border-radius: 20px;
}

/*Aqui use metodologia BEM 4*/
.recetas {
  grid-template-columns: 33% 34% 33%;
  grid-template-areas: "parrilla asadorMovil cuchillo";
  width: auto;
  justify-items: center;
  align-items: center;
  height: 450px;
  margin-bottom: 20px;
}

.recetas__caja1 {
  grid-area: parrilla;
  width: 70%;
  height: 24.8rem;
}

.recetas__caja2 {
  grid-area: asadorMovil;
  width: 70%;
  height: 24.8rem;
}

.recetas__caja3 {
  grid-area: cuchillo;
  width: 70%;
  height: 16.1rem;
  bottom: 70px;
}

.recetas--color {
  background-color: lightskyblue;
}

.recetas--colorFondo {
  background-color: lightcyan;
  border-radius: 20px;
}

.ubicacion {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.textoUbicacion {
  padding: 0 8%;
  text-align: center;
}

.colorUbicacion {
  background-color: lightskyblue;
  border-radius: 20px;
  padding: 50px;
}

.botonUbicacion {
  text-align: center;
  margin-top: 30px;
}

.botonUbicacion a {
  background-color: #0d6efd;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-family: cursive;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.botonUbicacion:hover {
  transform: scale(1.5);
}

.iconos {
  color: black;
  font-family: 'Zen Tokyo Zoo', cursive;
}

/*FIN INDEX*/
/*PAGINA NOSOTROS*/
#div1Nosotros {
  width: 98%;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: lightcyan;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#div1Nosotros div {
  flex-basis: 450px;
}

/*Aqui use metodologia BEM 5*/
iframe {
  width: 100%;
  height: 100%;
}

.chef {
  height: 350px;
  border-radius: 20px;
  border: black solid 2px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  background-color: white;
}

.chef__imgLaucha {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.chef__titulo {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: xx-large;
  text-decoration: underline black;
  color: darkgoldenrod;
}

.chef__tabla {
  list-style-type: none;
  font-family: fantasy;
  font-size: medium;
}

#div2Nosotros {
  width: 98%;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: lightcyan;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
}

#div2Nosotros div {
  flex-basis: 450px;
}

/*Aqui use metodologia BEM 6*/
.herrero {
  height: 350px;
  border-radius: 20px;
  border: black solid 2px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  background-color: white;
}

.herrero__imgHerrero {
  width: 450px;
  height: 350px;
  border-radius: 20px;
}

.herrero__titulo {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: xx-large;
  text-decoration: underline black;
  color: darkgoldenrod;
}

.herrero__tabla {
  list-style-type: none;
  font-family: fantasy;
  font-size: medium;
}

/*FIN PAGINA NOSOTROS*/
/*PAGINA RECETAS*/
#div1Recetas {
  width: 98%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightcyan;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#div1Recetas div {
  flex-basis: 450px;
}

.recAchurada {
  height: 350px;
  border-radius: 20px;
  border: black solid 2px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  background-color: white;
  margin: auto;
}

.recAchurada h3 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: xx-large;
  text-decoration: underline black;
  color: darkgoldenrod;
}

.recAchurada table {
  font-family: fantasy;
}

.iframeRecAchurada {
  border-radius: 20px;
  height: 350px;
}

#div2Recetas {
  width: 98%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightcyan;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#div2Recetas div {
  flex-basis: 450px;
}

.recBondiola {
  height: 350px;
  border-radius: 20px;
  border: black solid 2px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  background-color: white;
  margin: auto;
}

.recBondiola h3 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: xx-large;
  text-decoration: underline black;
  color: darkgoldenrod;
}

.recBondiola table {
  font-family: fantasy;
}

.iframeRecBondiola {
  border-radius: 20px;
  height: 350px;
}

#div3Recetas {
  width: 98%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightcyan;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#div3Recetas div {
  flex-basis: 450px;
}

.recCostillar {
  height: 350px;
  border-radius: 20px;
  border: black solid 2px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  background-color: white;
}

.recCostillar h3 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: xx-large;
  text-decoration: underline black;
  color: darkgoldenrod;
}

.recCostillar table {
  font-family: fantasy;
}

.iframeRecCostillar {
  border-radius: 20px;
  height: 350px;
}

.colorTabla {
  background-color: #dd9a6d;
}

.colorTelefono {
  color: green;
}

.colorInstagram {
  color: red;
}

.colorFacebook {
  color: blue;
}

/*FIN PAGINA RECETAS*/
/*PRODUCTOS*/
/*Aqui use metodologia BEM 7*/
.productos1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "parrilla asadorMovil cuchillo disco";
  width: auto;
  justify-items: center;
  align-items: center;
  height: 450px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.productos1__caja1 {
  grid-area: parrilla;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos1__caja2 {
  grid-area: asadorMovil;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos1__caja3 {
  grid-area: cuchillo;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos1__caja4 {
  grid-area: disco;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos1--color {
  background-color: lightskyblue;
  margin-left: -12px;
  margin-right: -12px;
}

/*Aqui use metodologia BEM 8*/
.productos2 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "juego estaca guantes delantal";
  width: auto;
  justify-items: center;
  align-items: center;
  height: 450px;
  margin-bottom: 20px;
}

.productos2__caja5 {
  grid-area: juego;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos2__caja6 {
  grid-area: estaca;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos2__caja7 {
  grid-area: guantes;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos2__caja8 {
  grid-area: delantal;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos2--color {
  background-color: lightskyblue;
  margin-left: -12px;
  margin-right: -12px;
}

/*Aqui use metodologia BEM 9*/
.productos3 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "brasero parrilla asadormovil cuerno";
  width: auto;
  justify-items: center;
  align-items: center;
  height: 450px;
  margin-bottom: 20px;
}

.productos3__caja9 {
  grid-area: brasero;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos3__caja10 {
  grid-area: parrilla;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos3__caja11 {
  grid-area: asadormovil;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos3__caja12 {
  grid-area: cuerno;
  object-fit: cover;
  object-position: center center;
  width: 80%;
  height: 90%;
  border: 2px solid black;
}

.productos3--color {
  background-color: lightskyblue;
  margin-left: -12px;
  margin-right: -12px;
}

/*FIN PAGINA PRODUCTOS*/
/*PAGINA CONTACTO*/
.imagLogoFooter {
  width: 150px;
}

.colorContacto {
  background-color: grey;
  margin-top: 20px;
}

.colorFormulario {
  background-color: burlywood;
  margin-top: 20px;
}

.row {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 20px;
}

.letraFormulario {
  font-family: 'Zen Tokyo Zoo', cursive;
}

/*FIN PAGINA CONTACTO*/
/*FIN ESTILOS NORMALES, DEBAJO ESTAN LOS MEDIA QUERIES*/
/*Comienzo media queries 992*/
@media screen and (max-width: 992px) {
  .ubicacionFooter {
    margin-bottom: 0px;
  }
  .logoFooter {
    margin-left: 0px;
  }
  .ubicacion {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .iframeMapa {
    height: 350px;
    width: 100%;
    margin-top: 20px;
  }
  .ofertas {
    width: auto;
    justify-items: center;
    align-items: center;
  }
  #div1Nosotros {
    width: 96%;
    height: 750px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .chef {
    width: 90%;
  }
  #div1Nosotros div {
    flex-basis: 40%;
  }
  .chef__imgLaucha {
    width: 100%;
    height: 100%;
  }
  .chef__tabla {
    bottom: 5px;
  }
  #div2Nosotros {
    width: 96%;
    height: 800px;
    position: relative;
    top: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .herrero {
    width: 80%;
  }
  #div2Nosotros div {
    flex-basis: 40%;
  }
  .herrero__imgHerrero {
    width: 100%;
    height: 100%;
  }
  .herrero__tabla {
    top: 5px;
  }
  .posicionFooter {
    position: inherit;
  }
  #div1Recetas {
    width: 96%;
    height: 800px;
    position: relative;
    top: 25px;
    flex-direction: column;
    margin-bottom: 50px;
  }
  #div1Recetas div {
    flex-basis: 40%;
  }
  .recAchurada {
    width: 90%;
  }
  .recAchurada table {
    position: sticky;
  }
  .iframeRecAchurada {
    margin-bottom: 40px;
  }
  #div2Recetas {
    width: 96%;
    height: 800px;
    position: relative;
    top: 25px;
    flex-direction: column;
  }
  #div2Recetas div {
    flex-basis: 40%;
  }
  .recBondiola {
    width: 100%;
  }
  #div3Recetas {
    width: 96%;
    height: 800px;
    position: relative;
    top: 25px;
    flex-direction: column;
  }
  #div3Recetas div {
    flex-basis: 40%;
  }
  .recCostillar {
    width: 80%;
  }
  .recetas__caja3 {
    height: 24.8rem;
    bottom: 0;
  }
  .ofertas__caja3 {
    height: 22rem;
    bottom: 16px;
  }
  .enlacesRecetas {
    margin-top: 40px;
  }
  @keyframes maquina {
    from {
      width: 70%;
    }
    to {
      width: 28%;
    }
  }
}

/*Fin media queries 992*/
/*Comienzo media queries 768*/
@media screen and (max-width: 768px) {
  .ofertas {
    grid-template-columns: 100%;
    grid-template-areas: "parrilla" "asadorMovil" "cuchillo";
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 2200px;
  }
  .recetas {
    grid-template-columns: 100%;
    grid-template-areas: "parrilla" "asadorMovil" "cuchillo";
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 2200px;
  }
  .recetas__caja3 {
    height: 19rem;
  }
  @keyframes maquina {
    from {
      width: 75%;
    }
    to {
      width: 20%;
    }
  }
}

/*Fin media queries 768*/
/*Comienzo media queries 576*/
@media screen and (max-width: 576px) {
  .logoFooter {
    width: 100px;
    height: 100px;
  }
  .ofertas {
    grid-template-columns: 100%;
    grid-template-areas: "parrilla" "asadorMovil" "cuchillo";
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 1220px;
  }
  .card {
    position: unset;
  }
  .ofertas__caja1 {
    grid-area: parrilla;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
  }
  .ofertas__caja2 {
    grid-area: asadorMovil;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 190px;
  }
  .ofertas__caja3 {
    grid-area: cuchillo;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 350px;
  }
  .recetas {
    grid-template-columns: 100%;
    grid-template-areas: "parrilla" "asadorMovil" "cuchillo";
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 1400px;
  }
  .recetas__caja1 {
    grid-area: parrilla;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
  }
  .recetas__caja2 {
    grid-area: asadorMovil;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
  }
  .recetas__caja3 {
    grid-area: cuchillo;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 130px;
  }
  .productos1 {
    height: auto;
  }
  .productos1__caja1 {
    margin-bottom: 20px;
  }
  .productos1__caja2 {
    margin-bottom: 20px;
  }
  .productos1__caja3 {
    margin-bottom: 20px;
  }
  .productos1__caja4 {
    margin-bottom: 20px;
  }
  .productos2 {
    height: auto;
  }
  .productos2__caja5 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .productos2__caja6 {
    margin-bottom: 20px;
  }
  .productos2__caja7 {
    margin-bottom: 20px;
  }
  .productos2__caja8 {
    margin-bottom: 20px;
  }
  .productos3 {
    height: auto;
  }
  .productos3__caja9 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .productos3__caja10 {
    margin-bottom: 20px;
  }
  .productos3__caja11 {
    margin-bottom: 20px;
  }
  .productos3__caja12 {
    margin-bottom: 20px;
  }
  .chef__titulo {
    font-size: large;
  }
  .herrero__titulo {
    font-size: large;
  }
  .chef__tabla {
    font-size: small;
  }
  .chef h3 p {
    font-size: small;
  }
  .herrero__tabla {
    font-size: small;
  }
  .herrero h3 p {
    font-size: small;
  }
  @keyframes maquina {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
}

/*Fin media queries 576*/
/*Comienzo media queries 576*/
@media screen and (max-width: 400px) {
  #div1Recetas {
    height: 950px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .recAchurada {
    height: 750px;
    margin: auto;
  }
  .recAchurada h3 {
    font-size: x-large;
  }
  #div2Recetas {
    height: 1050px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .recBondiola {
    height: 600px;
    margin: auto;
    margin-bottom: 180px;
  }
  .recBondiola h3 {
    font-size: x-large;
  }
  .iframeRecBondiola {
    border-radius: 20px;
    height: 350px;
    margin-top: 170px;
    margin-bottom: 30px;
  }
  #div3Recetas {
    height: 950px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .recCostillar {
    height: 750px;
    margin: auto;
  }
  .recCostillar h3 {
    font-size: x-large;
  }
  #div1Nosotros {
    height: 900px;
  }
  #div1Nosotros div {
    flex-basis: 300px;
  }
  .chef {
    height: 500px;
  }
  .chef__imgLaucha {
    width: 100%;
    height: 350px;
    border-radius: 20px;
  }
  #div2Nosotros {
    height: 900px;
  }
  #div2Nosotros div {
    flex-basis: 300px;
  }
  .herrero {
    height: 500px;
  }
  .herrero__imgHerrero {
    width: 100%;
    height: 350px;
    border-radius: 20px;
  }
}
